*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    max-width: 1920px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* === header nav1 ================================ */

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    flex-wrap: wrap;
    
}

.img{
    display: flex;
    align-items: center;
    flex-direction: row;
   
   
}

.img a{
    text-decoration: none;
    color: #878787;
}


.hedlink {
    display: flex;
    align-items: center;
    flex-direction: row;
   
}

.hedlink img{
    margin: 10px;
}


.hedlink hr{
    width: 1px;
    height: 14px;
    margin: 10px;
}


.hedlink a{
    color: white;
}



/* ========head :end========== */








/* =======nav :start ====== */




nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.navleft{
    display: flex;align-items: center;
    flex-direction: row;
    height: 80px;
}


.navleft p{

    font-size: 25px;
}




.navleft select{
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
}


.search{
    width: 340px;
    height: 36px;
    display: flex;
    margin-left: 12.5%;
    margin-right: 12.5%;
    
    align-items: center;
    flex-direction: row;
    padding: 15px;
    background-color: #F7F7F7;
    border-radius: 3px;
}


.search input{
    border: none;
    background-color: #F7F7F7;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;


    color: #999999;
}


.select{
    display: flex;
    align-items: center;
    flex-direction: row;

}

.select p{
    margin: 30px;
    
}



/* ========navleft :end===== */

.navright{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
    flex-wrap: wrap;
}

.navright hr{
    height: 24px;
    margin: 15px;
}


.tel{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 100px;
}

.tel p{
    margin: 10px;
}

/* === header nav1 ================================ */

/* ============ nav 2 ================================= */

.nav2{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* vertical-align: middle; */
    border-top-style: solid;
    border-top-color: gray;
    border-bottom-color: gray;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    
}

.nav2_left{
    width: 50%;
    height: 80px;
    display: flex;
    align-items:center;
    justify-content: end;
}

.nav2_logo{
    width: 177px;
    height: 50px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-right: 45px;
}

.nav2_logo p{
    font-weight: 800;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;

color: #2A2A2A;
}

.nav2_a{
    width: 377px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav2_a a{
    font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-transform: uppercase;
text-decoration: none;
color: #2A2A2A;
}   

.nav2_a a:hover{
    color: #7FAD39;
}

.nav2_right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2_box{
    width: 125px;
    height: 50px;
    background-color: #7FAD39;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.nav2_box form{
    display: flex;
}

.nav2_box select{
    background-color: #7FAD39;
    border: none;
    color: white;
}

.nav2_box option{
    font-weight: 800;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
color: #FFFFFF;
}

/* local page start */
/* 
.local_page {
    width: 300px;
    height: 800px;
    right: 0;
    transform: translateX(480px);
    position: absolute;
    background-color: rgba(0, 0, 255, 0.607);
    transition: all 1s;
    padding: 20px;
} */


/* local page end */

/* .local_page .ili {
    display: block;
    font-size: 50px;
    font-weight: bold;
    color: red;
    text-align: end;
    cursor: pointer;
} */

/* ============ nav 2 ================================= */

/* ============ section 1 =============================== */


.section_1 {
    padding-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.div_1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 339px;
    height: 228px;
    padding: 14px 14px 14px 0;
    background-image: url(./img/Rectangle\ 7.png);
    background-repeat: no-repeat;
}

.div1 {
    background-color: white;
    width: 205px;
    height: 99px;
    padding: 15px 21px 19px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    height: 200px;
}

.div1 span {
    color: rgb(47, 185, 47);
}

.right {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    flex-direction: column;
    height: 200px;
}

.btn {
    width: 125px;
    height: 50px;
    background: #7FAD39;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
}

.div_2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 339px;
    height: 228px;
    padding: 14px 14px 14px 0;
    background-image: url(./img/Rectangle\ 7\ \(1\).png);
    background-repeat: no-repeat;
}

.div2 {
    background-color: white;
    width: 205px;
    height: 99px;
    padding: 15px 21px 19px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div2 span {
    color: rgb(47, 185, 47);
}
button{
    cursor: pointer;
}

.div_3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 339px;
    height: 228px;
    padding: 14px 14px 14px 0;
    background-image: url(./img/Rectangle\ 7\ \(2\).png);
    background-repeat: no-repeat;
}

.div_4 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 339px;
    height: 228px;
    padding: 14px 14px 14px 0;
    background-image: url(./img/Rectangle\ 7\ \(3\).png);
    background-repeat: no-repeat;
}

.div_5 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 339px;
    height: 228px;
    padding: 14px 0px 14px 0;
    background-image: url(./img/Rectangle\ 7\ \(4\).png);
    background-repeat: no-repeat;
}


/* ============ section 1 =============================== */

/* sec 2- 3 =================================== */

button{cursor: pointer;}
.wrapper{
    max-width: 1920px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    overflow: hidden;
}


/* ======= sec_2 ======== */

.section2{
    padding-top: 66px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



.otaDiv{
    width: 1199px;
    height: 207px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    flex-direction: column;
}
.sec2_top{
    width: 184px;
    height: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 16px;
}
.sec2_top p{
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #7FAD39;
}
.sec2_top span{
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: rgb(10, 10, 10);
}

.sec2_but{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    
    flex-direction: row;
    
}
.maxsulotlar{
    width: 178px;
    height: 127px;
    background: #FFFFFF;
    border: 0.5px solid rgba(42, 42, 42, 0.15);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 6px;
    position: relative;
}
.maxsulotlar a{
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */
    margin-top: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2A2A2A;
}
.slayt{
    position: absolute;
    margin: 45px 0 0 0;
    z-index: 1;
}
.slayt button{
    border: none;
    background: none;
}
.slayd{
    position: absolute;
    padding: 45px 0 0 1170px;
    z-index: 1;
    display: flex;
    
}
.slayd button{
    border: none;
    background: none;
}



/* ======== sec_3 ========== */




.section3{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
}

.otaKantenr{
    width: 1199px;
    height: 415px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.sec3_top{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 16px;
}

.sec3_top p{
    font-weight: 800;
font-size: 14px;
line-height: 30px;
/* or 214% */

display: flex;
align-items: center;

color: #7FAD39;
}
.sec3_top span{
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: black;
}
.sec3_but{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 15px;
}
.persi{
    width: 226px;
    height: 335px;
    background: #FFFFFF;
    border: 0.5px solid rgba(42, 42, 42, 0.15);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.chegrma{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 20px;
}
.chegrma p{
    background: #7FAD39;
    padding: 3px 5px;
    font-weight: 800;
    font-size: 12px;
    line-height: 30px;
    /* or 250% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.chegrma button{
    background: none;
    border: none;
}
.text{
    width: 174px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text p{
    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */

    display: flex;
    align-items: center;
    text-align: center;
    color: #A9A9A9;
}
.text span{
    padding-left: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* or 183% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #2A2A2A;
}
.pi2{
    display: flex;
    align-items: center;
    justify-content: center;

}
.pi2 p{
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #7FAD39;
}
.pi2 span{
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    /* or 138% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #A9A9A9;
}

.impt input{
    width: 25px;
    height: 25px;
    border: none;
    background: none;
    text-align: center;
    
}
.impt button{
    width: 25px;
    height: 25px;
    background: #2A2A2A;
    color: white;
    border: 1.5px solid #FFFFFF;
}
.impt{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 30px 20px;
    justify-content: space-between;
}
#plus{
    margin-right: 75px;
}
#karzinkab{
    background: none;
}

/* sec 2- 3 =================================== */

/* === section 3 ================================== */

.section3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.sec_tepa{
   width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    padding-left: 375px;
}
.sec_tepa p{
    font-weight: 800;
font-size: 14px;
line-height: 30px;
/* or 214% */

display: flex;
align-items: center;

color: #7FAD39;
}
.sec_tepa span{
    font-weight: 800;
font-size: 14px;
line-height: 30px;
/* or 214% */

display: flex;
align-items: center;

color: 
#2A2A2A;
}

.sec3_past{
    width: 100%;
    height: 290px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 375px;
}

.sec3_box1{
    margin-top: 40px;
    background-image: url(./img/Rectangle\ 3.png);
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: purple;
    width: 377px;
    height: 290px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text{
    margin-top: 67px; 
    width: 151px;
    height: 123px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text p{
    font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 34px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #2A2A2A;
}

.sec3_text span{
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 24px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: black;
}

.sec3_btn{
    width: 141px;
    height: 50px;
    display: flex;
    align-items: flex-start;
}

.sec3_btn button{
    width: 141px;
    height: 50px;
    background-color: 
    #2A2A2A;
    color: white;
    border: none;

}
.sec3_box2{
    margin-top: 40px;
    background-image: url(./img/Rectangle\ 3\ \(1\).png);
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: purple;
    width: 377px;
    height: 290px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text{
    margin-top: 67px; 
    width: 151px;
    height: 123px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text p{
    font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 34px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #2A2A2A;
}

.sec3_text span{
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 24px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: black;
}

.sec3_btn{
    width: 141px;
    height: 50px;
    display: flex;
    align-items: flex-start;
}

.sec3_btn button{
    width: 141px;
    height: 50px;
    background-color: 
    #2A2A2A;
    color: white;
    border: none;

}
.sec3_box3{
    margin-top: 40px;
    background-image: url(./img/Rectangle\ 3\ \(2\).png);
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: purple;
    width: 377px;
    height: 290px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text{
    margin-top: 67px; 
    width: 151px;
    height: 123px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_text p{
    font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 34px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #2A2A2A;
}

.sec3_text span{
    font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 24px;
/* or 121% */

display: flex;
align-items: center;
text-transform: capitalize;

color: black;
}

.sec3_btn{
    width: 141px;
    height: 50px;
    display: flex;
    align-items: flex-start;
}
.sec3_btn button{
    width: 141px;
    height: 50px;
    background-color: 
    #2A2A2A;
    color: white;
    border: none;

}

.sec3_3{
    margin-top: 20px;
    width: 1170px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./img/Rectangle\ 3\ \(3\).png);
    filter: blur(1px);
}

.sec3_3 p{
    padding-bottom: 31px;
    font-weight: 900;
font-size: 24px;
line-height: 34px;
/* or 142% */

display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}

.sec3_3 button{
    padding-left: 10px;
    width: 271px;
    height: 40px;
    font-weight: 900;
font-size: 14px;
line-height: 34px;
/* or 243% */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
background: rgba(127, 173, 57, 0.7);
border: 2px dashed #FFFFFF;
}

/* === section 3 ================================== */


footer{
    margin-top: 200px;
    width: 100%;
    height: 557px;
    background-color: #191919;
    display: flex;
}

.footer_left{
    padding: 62px 0 40px 0;
    width: 50%;
    height: 557px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.foot_l_top{
    width: 656px;
    height: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top1{
    width: 100%;
    height: 195px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.top1 p{
    text-transform: capitalize;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}

.top1 span{
    font-weight: 400;
font-size: 14px;
line-height: 30px;
/* or 214% */

display: flex;
align-items: center;
text-transform: uppercase;

color: #B8B8B8;
}

.top2{
    width: 100%;
    height: 195px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.top2 p{
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.top2 span{
    font-weight: 400;
font-size: 14px;
line-height: 25px;
/* or 214% */

display: flex;
align-items: center;
text-transform: uppercase;

color: #B8B8B8;
}

.top3{
    width: 100%;
    height: 128px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.top3 p{
    font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 214% */

display: flex;
align-items: center;
text-transform: uppercase;

color: #B8B8B8;
}

.foot_l_bottom{
    width: 100%;
}

.foot_l_bottom p{
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 40px;
/* or 286% */

display: flex;
align-items: center;
justify-content: center;
text-transform: capitalize;
padding-left: 200px;
color: #FFFFFF;
}

.footer_right{
    width: 483px;
    height: 336px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 62px;
    /* background-color: red; */
}

.box1{
    width: 100%;
    height: 99px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.box1_p{
    width: 100%;
    height: 16px;
    display: flex;
    align-items: flex-start;
}

.box1_p p{
    font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 30px;
/* or 150% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #FFFFFF;
}

.box1_img{
    margin-top: 20px;
    width: 435px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box2{
    margin-top: 20px;
    width: 460px;
    height: 96px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.box2_p{
    width: 100%;
    height: 16px;
    display: flex;
    align-items: flex-start;
}

.box2_p p{
    font-weight: 800;
font-size: 20px;
line-height: 30px;
/* or 150% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #FFFFFF;
}

.box2_bottom{
    width: 460px;
    height: 60px;
    display: flex;
    margin-top: 20px;
}

.box2_bottom input{
    width: 287px;
    height: 60px;
    padding-left: 25px;
}

.box2_bottom button{
    width: 173px;
    height: 60px;
    background: #7FAD39;
    border: none;
}

.box3{
    margin-top: 20px;
    width: 460px;
    height: 61px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.box3_p{
    width: 460px;
    height: 16px;
    display: flex;
    align-items: flex-start;
}

.box3_p p{
    font-weight: 800;
font-size: 20px;
line-height: 30px;
/* or 150% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #FFFFFF;
}

.box3_img{
    width: 254px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box3_img img{
    margin-top: 20px;
    width: 43px;
    height: 25px;
    border-radius: 5px;
}